.style1 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
}

.style2 {font-family: Verdana, Arial, Helvetica, sans-serif}

.style3 {font-size: xx-large; font-weight: bold; }

.style4 {font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-weight: bold; font-size: xx-large; }

.aligncenter { text-align: center; }

.aligncenterstyle1 { text-align: center;
		     font-family: Verdana, Arial, Helvetica, sans-serif;
		     font-weight: bold;
		   }
